<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="../css/main.css" type="text/css"/>
        <script>
            function edit(action){
                document.location.href = action;
            }
        </script>  
    </head>
    <body>
        <div id="index">
            <p style="color: lemonchiffon; font-size: 60px;"><b>Assignment Java Web</b></p>
            <span>Finding Course Online</span></br>
            <button onclick="edit('/AssignmentWeb/home')">Home</button>           
        </div>
    </body>
</html>
