<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Feature</filter-name>
        <filter-class>filter.FeatureFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>filter.NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/featureadmin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Feature</filter-name>
        <url-pattern>/update</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Feature</filter-name>
        <url-pattern>/teaching</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Feature</filter-name>
        <url-pattern>/insertcourse</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Feature</filter-name>
        <url-pattern>/deletecourse</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Feature</filter-name>
        <url-pattern>/searchcourse</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Feature</filter-name>
        <url-pattern>/updatecourse</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Feature</filter-name>
        <url-pattern>/deleteteacher</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Feature</filter-name>
        <url-pattern>/deletestudent</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Feature</filter-name>
        <url-pattern>/insertteacher</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Feature</filter-name>
        <url-pattern>/updatestudent</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Feature</filter-name>
        <url-pattern>/updateteacher</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
